body {
  font-family: Survivant, 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin-top: 50px;
  -webkit-font-smoothing: antialiased;
  background: url('/images/master_background.jpg') no-repeat scroll center top #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
